.flex{
    display: flex;
}

.invert{
    filter: invert(1);
}

.mps{
    padding: 15px;
    margin: 5px;
}

.bgBlack{
    background-color: black;
    color: white;
}

.justAlign{
    justify-content: center;
    align-items: center;
}

.grey{
    color: rgb(31, 31, 31);
}